body {
  background-color: rgb(151, 89, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.box {
  
  border: 5px solid rgb(114, 49, 178);
  background-color: lightgray;
  padding: 2em;
  margin: 2em;
  width: 30em;
  height: 30em;
}


